<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/048a06ec-53b5-473c-8d18-23dbea048199/resourcegroups/grupodio/providers/Microsoft.Web/sites/Curso-Diio-API-REST</ResourceId>
    <ResourceGroup>grupodio</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://curso-diio-api-rest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>51d7a2cd-c4ae-4d46-866e-3394e3281f9e</ProjectGuid>
    <PublishUrl>https://curso-diio-api-rest.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Curso-Diio-API-REST</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>